@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/bebasneuebold.woff2') format('woff2'),
  url('../fonts/bebasneuebold.woff') format('woff');
}

@font-face {
  src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'),
  url('../fonts/open-sans-v27-latin-700.woff') format('woff');
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}